<!DOCTYPE html>
<html>
<head>
  <title>GraphqlSample</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag *webpack_asset_paths("client", extension: "css") %>
</head>
<body>
  <div id="root"></div>
  <%= javascript_include_tag *webpack_asset_paths("client", extension: "js") %>
  <% if Rails.env.development? %>
  <script src="http://localhost:3808/webpack-dev-server.js"></script>
  <% end %>
</body>
</html>
